.hd{
    border:2px dashed green;
    padding:10px;
    cursor:pointer;
    margin:5px;
}

div#leftNav0{
    width:200px;
    position:fixed;
}

div#leftNav1 div.content{
    padding:15px;
    color:#4cff00;
    background-color:#ffd800;
    display:block;
    list-style:none;
    font-weight:bolder;
    border:1px dotted green;
}

div#leftNav1 div.content div.hd a{
    display:block;
    text-decoration:none;
}

div#leftNav1 div.content div.hd:hover{
    margin-left:20px;
    transition:0.6s
}
