@{
    ViewBag.Title = "Baş səhifə";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<div class="container">
    <h2 class="text-center">Burası Kod-Səbəti1</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>
    <h2 class="text-center">Burası Kod-Səbəti</h2>

</div>