@{
    ViewBag.Title = "Baş səhifə";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>

    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
    <div>Salam</div>
    <div>Salam2</div>
</div>
